body {
	font-family: 'lato', sans-serif ;
	font-size: 12px;
	background: rgba(0,0,0,0.05);
}

/* COMPONENTS */
button {
	width: 100%;
	margin: 3px;
}

.v-slider {
	-webkit-appearance: slider-vertical; /* WebKit */
	height:200px;
	width:30px;
}

.h-slider {
	-webkit-appearance: slider-horizontal; /* WebKit */
	height:20px;
	width:200px;
}


/* MAIN DISPLAY PANELS */
#resonancePlayer {
	height:100%;
	width:100%;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 50px 1fr 2fr;
	grid-template-areas: 'header header header'
						'controls edit signalList'
						'mixer mixer signalList';
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

#resonanceHeader {
	grid-area: header;
	border: 1px solid black;
}

#resonanceControls {
	grid-area: controls;
	border: 1px solid goldenrod;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#resonanceEdit {
	grid-area: edit;
	border: 1px solid red;
	
}

#resonanceMixer {
	grid-area: mixer;
	border: 1px solid hotpink;
}

#resonanceSignalList {
	grid-area: signalList;
	border: 1px solid blue;
}