body {
	font-family: 'lato', sans-serif ;
	font-size: 12px;
	background: rgba(0,0,0,0.05);
}

/* COMPONENTS */
button {
	width: 100%;
	margin: 3px;
	font-size:10px;
}

table {
	font-size: 10px;
	align-items:center;
	justify-content: center;
}

hr {
	color:  rgba(0,0,0,0.5);
}

.v-slider {
	-webkit-appearance: slider-vertical; /* WebKit */
	height:200px;
	width:30px;
}

.h-slider {
	-webkit-appearance: slider-horizontal; /* WebKit */
	height:10px;
	width:200px;
}


/* MAIN DISPLAY PANELS */
#resonancePlayer {
	height:100%;
	width:100%;
	min-width: 1100px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 50px 1fr 2fr;
	grid-template-areas: 'header header header'
						'controls edit signalList'
						'mixer mixer signalList';
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

#resonanceHeader {
	grid-area: header;
}

/* MAIN CONTROLS */

#resonanceControls {
	grid-area: controls;
	border: 1px solid gray;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mainControls {
	margin: 0px;
}

.flex-row {
	width:100%;
	margin: 5px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#resonanceEdit {
	grid-area: edit;
	border: 1px solid gray;
	padding: 25px;
	
}


/* MIXER  */
#resonanceMixer {
	grid-area: mixer;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;

	font-size: 10px;
}

.mixerTrack {
	height: 50px;
	margin: 1px;
	border: 1px solid gray;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

.mixerTrackInfo {
	padding-left: 15px;
	width: 80px;
	overflow: hidden;
	justify-content: center;
}

.mixerTrackButtons {
	width: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mixerTrackSliders {
	display: flex;
	flex-direction: column;
}

.userGainSlider {
	color: blue;
}

.dataGainSlider {
	color: red;
}

.decayGainSlider {
	color: gray;
}

.mixerTrackInputs {
	table-layout: fixed;
	padding: 5px;
}

.input-type {
	min-width: 65px;
	max-width: 65px;
}

.input-range {
	min-width: 120px;
	max-width: 120px;
}

.input-minpeakmax {
	min-width: 20px;
	max-width: 20px;
}

.input-data {
	min-width: 30px;
	max-width: 30px;
}




/* SIGNALS LIST */
#resonanceSignalList {
	grid-area: signalList;
	border: 1px solid gray;
	font-size: 10px;
}

#signalContainer {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: left;
	align-items: left;

}

.signalBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 2px;
	margin: 2px;
	padding-left: 5px;
	width: 275px;
	height:48px;
}

.signalButtons {
	width: 65px;
	padding-right: 5px;
}

.muted {
	color: red;
}

.currentValue {
	font-weight: bold;
}