.mixerTrack {
	width:80px;
	height:300px;
	border: 1px solid gray;	
}

#playerControls {
	width:350px;
	height:150px;
	border: 1px solid gray;
}

#resonancePlayer {
	width: 80vw;
	max-width:900px;
	margin: 0px auto;
	height: 500px;
	border: 1px solid gray;
}

