#mixerBox {
	height:300px;
	display:flex;
	flex-direction:row;
	justify-content:left;
}

#mixerContainer {
	max-height:300px;
}

.mixerTrack {
	width:80px;
	height:300px;
	margin:3px;
	padding:5px;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content:space-between;	
}

.v-slider {
	-webkit-appearance: slider-vertical; /* WebKit */
	height:200px;
	width:30px;
}

#playerControls {
	width:350px;
	height:150px;
	border: 1px solid gray;
	margin:5px;
	padding:8px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
}

#resonancePlayer {
	width: 80vw;
	max-width:900px;
	margin: 0px auto;
	height: 500px;
	border: 1px solid gray;
}

