<!— index.html —>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resonance Audio Player</title>

    <script type='text/javascript' src="{{url_for('static', filename='dist/bundle.js')}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/player.css')}}"></link>

  </head>
  <body>
     <div id='mainContainer'>
        <div id='resonancePlayer'>
            <div id='resonanceHeader'><h1>Resonance</h1></div>
            <div id='resonanceControls'>
                <button id='startContextButton'>Load default</button>
                <div class='file-input'><input type='file' id='presetFileInput'></input></div>
                <button id='loadPresetButton'>Load preset</button>
            </div>
            <div id='resonanceEdit'></div>
            <div id='resonanceMixer'></div>
            <div id='resonanceSignalList'></div>
        </div>
    </div>
  </body>
</html>