<!— index.html —>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resonance Audio Player</title>

    <script type='text/javascript' src="{{url_for('static', filename='dist/bundle.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='node_modules/web-audio-recorder-js-webpack/lib/WebAudioRecorder.js')}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/player.css')}}"></link>

  </head>
  <body>
     <div id='mainContainer'>
        <div id='resonancePlayer'>
            <div id='resonanceHeader'><h1>Resonance</h1></div>
            <div id='resonanceControls'>
                <button id='startContextButton'>Load default</button>
                <div class='file-input'>Preset: <input type='file' id='presetFileInput'></input></div>
                <div class='flex-row'>
                    <button id='loadPresetButton'>Load preset</button>
                    <button id='savePresetButton'>Save Preset</button>
                </div>
                <div id='mainControls' style='display:none'>
                     <div id='masterAudioControls' class='flex-row'>
                            <button id='startAudio'>Play</button>
                            <button id='stopAudio'>Stop</button>
                            <label for='masterGain'><b>Volume:</b></label>
                            <input type='range' min='-60' max='10' step='1' value='0' class='slider' id='masterGain'>
                    </div>   
                    <div id='OSCPlayback'>
                        <div class='file-input'>OSC Events:<input type='file' id='OSCEventFile' size='60'></input></div>
                        <div class='flex-row'>
                            <button id='loadOSC' >Load OSC</button>
                            <button id='toggleOSC' disabled>Play OSC</button>
                            <button id='resetOSC' disabled>Reset OSC</button>
                        </div>
                    </div>
                    <div id='audioRecorderControls'>
                        <button id='toggleRecordingAudio'>Start Recording Audio</button>
                        <div id='audioDownloadLinks'></div>
                    </div>
                </div>
            </div>
            <div id='resonanceEdit'></div>
            <div id='resonanceMixer'></div>
            <div id='resonanceSignalList'>
                <div id='signalContainer'>
                    
                </div>
            </div>
        </div>
    </div>
  </body>
</html>